<!--<mat-card class="mat-elevation-z4 booking-card">-->
<!--  <mat-card-header class="card-header">-->
<!--    <mat-card-title>-->
<!--      <p>-->
<!--        Booking ID: {{booking.id}}-->
<!--      </p>-->
<!--      <p>-->
<!--        Customer: Mr/Miss.{{booking.user.fullName}}-->
<!--      </p>-->
<!--    </mat-card-title>-->

<!--  </mat-card-header>-->
<!--  <mat-card-content class="booking-card">-->
<!--    <h1>-->
<!--      Hotel: {{booking.hotel.name}}-->
<!--    </h1>-->
<!--    <p>-->
<!--      Address: {{booking.hotel.address}}-->
<!--    </p>-->
<!--    <div class="booking-time">-->
<!--      <p>-->
<!--        Checkin: {{booking.start}}-->
<!--      </p>-->
<!--      <p>-->
<!--        Checkout: {{booking.end}}-->
<!--      </p>-->
<!--    </div>-->
<!--  </mat-card-content>-->

<!--  <mat-card-actions class="card-action">-->
<!--    &lt;!&ndash;    <button color="primary" mat-flat-button (click)="navigate('mission')">See More</button>&ndash;&gt;-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->

<div class="card mb-3">
  <h5 class="card-header h5">Booking ID: {{booking.id}}</h5>
  <div class="card-body">
    <h5 class="card-title">date of appointment made: {{booking.date}}}</h5>
    <p class="card-text">{{booking.booking_start}} ~ {{booking.booking_end}}</p>
  </div>
</div>
